html, body {
  background-color: #73706C;
  font-family: monospace;
 
}
body {
  padding: 10%;
  display: inline-block;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.deleteButton {
  
}

button {
background-color: yellow;
}
.artist {
color: white;
}
.songList {
font-size: 30px;
}
.title {
  font-size: 40px;
}

.master {
  background-color: red;
  width: 30vw;
  
  
  
}
