@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');

body {
 background-color: grey;
 display: flex;
 flex-direction: row;
 font-family: 'Anonymous Pro', monospace;
 padding: 20px;
 background-image: url(https://cdn.shopify.com/s/files/1/0879/0542/products/PC1255_7e5a16d2-e0e1-4906-9030-dad007748857_1024x1024.jpg?v=1523505044);

}


input {
  background-color:#CCCBC9;
  box-shadow: 3px 3px gray;
  width: 15vw;
}
.inputNumber {
  width: 15px;
  text-align: center;
}

.addTrackButton {
  padding-left: 30px;
  
}
.actualButton {
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 35px;
  width: 20vw;
}
.actualButton:hover {
  background-color: 
}
.deleteButton {
  padding: 5px;
text-align: center;
}

.actualDelete {
  background-color: #DE8C78 ;
  border: none;
  border-radius: 20px;
  height: 28px;
}
.actualDelete:hover {
  background-color: white;
  color: black;
}
.rating:hover {
  background-color: white;
  color: black;
  
}
.rating {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
}
/* button {
background-color: grey;
display: flex;

} */

.artist {
color: white;
font-size: 24px;
}

.songList {
font-size: 20px;
background-color: gray;
border: 1px solid black;
box-shadow: 5px 10px black;
padding: 15px;
text-align: center;
overflow-wrap: break-word;
border-radius: 15px;
width: 200px;
height: 300px;

}

.title {
  font-size: 60px;
  font-stretch: extra-expanded;
  padding-top: 60px;
  text-align: center;
  color: white;
  text-shadow: 4px 3px 0px#585858, 9px 8px 0px rgba(0,0,0,0.15);
  letter-spacing: 30px;
  padding-bottom: 30px;
}

.songTitle {
  font-size: 22px;
}
.inputBar {
  display: flex;
  justify-content: center;
  height: 3vh; 
  padding-bottom: 20px;
  display: flex;
  align-content: stretch;
 
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 40px auto;
  align-content: space-around;
  justify-content: space-evenly;
  
}


